
<div class="container">

  <div class="row">
    <button id="BtnPoubelle" class="col-1 offset-4" (click)="deleteStudent()">🚮</button>
  </div>

  <div class="row my-2">
    <label class="offset-1 col-2">{{student._lastName}}</label>
    <label class="offset-1 col-2">{{student._firstName}}</label>
  </div>

  <div class="row my-1">
    <label class="offset-1 col-3">{{student._contact}}</label>
    <label class="offset-5 col-2">{{student._city}}</label>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-1 text-center">#</th>
      <th class="col-3 text-center">Titre</th>
      <th class="col-5 text-center">Description</th>
      <th class="col-2 text-center">Note</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let theme of this.listeThemes; index as i">
      <tr >
        <td class="text-center">{{i + 1}}</td>
        <td class="text-center">{{theme._title}}</td>
        <td class="text-center">{{theme._description}}</td>
        <td class="text-center">{{theme._likes}} <img src="assets/like.png" height="30" width="30" ></td>
      </tr>
    </ng-container>
    </tbody>
  </table>

