<div class="col-12 text-center text-size-80 bottom-padding-12">Etudiants</div>
<div class="form-group row bg-secondary bg-opacity-25 top-padding-20">
    <label for="Nom" class="col-1 col-form-label text-center">Nom :</label>
    <div class="col-3">
      <input type="text" class="form-control" id="Nom" [(ngModel)]="student._lastName">
    </div>
  <div class="col-2"></div>
    <label for="Prenom" class="col-1 col-form-label text-center">Prénom :</label>
    <div class="col-3 bottom-padding-12">
      <input type="text" class="form-control text-center" id="Prenom" [(ngModel)]="student._firstName">
    </div>
  <div class="col-2"></div>
    <label for="Ville" class="col-1 col-form-label text-center top-padding-20">Ville :</label>
    <div class="col-2">
      <input type="text" class="form-control" id="Ville" [(ngModel)]="student._city">
    </div>
  <div class="col-3"></div>
  <label for="Contact" class="col-1 col-form-label text-center top-padding-20">Contact :</label>
  <div class="col-3">
    <input type="text" class="form-control" id="Contact" [(ngModel)]="student._contact">
  </div>
    <div class="text-center top-padding-7 bottom-padding-12">
      <button class="btn form-control" (click)="editStudent()" ><img src="assets/edit.png" height="80" width="80" ></button>
    </div>
  </div>



  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-1 text-center">#</th>
      <th class="col-3 text-center">Titre</th>
      <th class="col-5 text-center">Description</th>
      <th class="col-2 text-center">Note</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let theme of this.listeThemes; index as i">
      <tr >
        <td class="text-center">{{i + 1}}</td>
        <td class="text-center"><button class="btn" routerLink="/detailsTheme/{{theme._idTheme}}">{{theme._title}}</button></td>
        <td class="text-center">{{theme._description}}</td>
        <td class="text-center">{{theme._likes}} <img src="assets/like.png" height="30" width="30" ></td>
      </tr>
    </ng-container>
    </tbody>
  </table>

