<table class="table table-striped">
  <thead>
  <tr>
  <th class="col">#</th>
  <th class="col">Titre</th>
  <th class="col">Date</th>
  <th class="col">Description</th>
  <th class="col text-center">Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let theme of this.listeThemes; index as i">
    <tr (click)="theme.expanded = !theme.expanded">
      <td>{{i + 1}}</td>
      <td>{{theme._title}}</td>
      <td>{{theme._date}}</td>
      <td>{{theme._description}}</td>
      <td class="text-center"> {{ theme.expanded ? '' : ''}}<img src="assets/Details.ico" height="30" width="30" class="rotateimg270"> </td>
      <td>    <ng-container *ngIf="theme.expanded">
        <div class="row bottom-padding-12 bg-secondary bg-opacity-25">
          <div class="col-3 text-center">Jean</div>
          <div class="col-3 text-center">Maurice</div>
          <div class="col-3 text-center">Christophe</div>
          <div class="col-3 text-center">Luc</div>
          <div class="col-3 text-center">5 <img src="assets/like.png" height="20" width="20"></div>
          <div class="col-3 text-center">4 <img src="assets/like.png" height="20" width="20"></div>
          <div class="col-3 text-center">3 <img src="assets/like.png" height="20" width="20"></div>
          <div class="col-3 text-center">3 <img src="assets/like.png" height="20" width="20"></div>
        </div>
        <div class="row">
          <div class="col-12 align-content-start bg-secondary bg-opacity-25">Mots-clés : </div>
        </div>
      </ng-container></td>
    </tr>

  </ng-container>
  </tbody>
</table>


<!-- <ng-container *ngIf="data.expanded">
  <tr *ngFor="let details of findDetails(theme)">
    <td style="padding-left: 12px"> {{details.datades.name}} </td>
    <td> {{details.datades.hobbies}} </td>
    <td> {{details.datades.profession}} </td>
  </tr>
</ng-container> -->
