<div class="col-12 text-center text-size-80 bottom-padding-12">Thèmes</div>
<div class="form-group row bg-secondary bg-opacity-25 bottom-padding-80">
  <div><button class="btn" routerLink="/detailsTheme/{{theme._idTheme}}"><img src="assets/Retour.png" height="50" width="50" ></button>
  </div>
  <div class="text-size-60 text-center bottom-padding-80">{{theme._title}}</div>
  <h1 class="col-12 align-content-start bottom-padding-25 text-center">Ajouter recommandation :</h1>
  <div class="form-group has-search row col-12">
    <div class="col-1"></div>
    <div class="col-4 "><input type="text" class="form-control" placeholder="Rechercher nom" id="Nom" [(ngModel)]="nomRecherche" (input)="chercherNom()" ></div>
    <div class="col-2"></div>
    <div class="col-4"><input type="text" class="form-control" placeholder="Rechercher prenom" id="Prenom" [(ngModel)]="prenomRecherche" (input)="chercherPrenom()" ></div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col">#</th>
      <th class="col-2">Nom</th>
      <th class="col-2">Prénom<button class="btn fw-bold" (click)="trierParPrenom()"><img src="assets/trier.png" height="15" width="15"></button></th>
      <th class="col-2 text-center">Contact</th>
      <th class="col-2 text-center">Recommandations</th>
      <th class="col-2 text-center">Ajouter</th>
      <th class="col-2 text-center">Retirer</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let student of this.listeStudentsRecommendations; index as i">
      <tr >
        <td><button class="btn" routerLink="/detailsStudent/{{student._idStudent}}">{{i + 1}}</button></td>
        <td><button class="btn" routerLink="/detailsStudent/{{student._idStudent}}">{{student._lastName}}</button></td>
        <td><button class="btn" routerLink="/detailsStudent/{{student._idStudent}}">{{student._firstName}}</button></td>
        <td class="text-center"><button class="btn" routerLink="/detailsStudent/{{student._idStudent}}">{{student._contact}}</button></td>
        <td class="text-center" ><button class="btn" routerLink="/detailsStudent/{{student._idStudent}}">{{student._likes}}</button></td>
        <td class="text-center" ><button class="btn" (click)="ajouterRecommandation(theme,student)"><img src="assets/like.png" height="30" width="30" ></button></td>
        <td class="text-center" ><button class="btn" (click)="retirerRecommandation(theme,student)"><img src="assets/dislike.png" height="30" width="30" ></button></td>
      </tr>

    </ng-container>
    </tbody>
  </table>
</div>

<!--
{{listeRecommendations.get(student._idStudent)}}
-->
